<div class="col-md-12">
  <div class="col-md-6 col-md-3 panel panel-default">
    <div class="panel-body">
      <h2>Add Pet</h2>
      <div class="form-inputs">
        <%= simple_form_for [@user, @pet] do |f| %>
          <%= f.error_notification %>
          <%= f.input :name, required: true, autofocus: true %>
          <%= f.input :pet_type %>
          <%= f.input :breed %>
          <%= f.input :y_age, label: 'Years: ' %>
          <%= f.input :m_age, label: 'Months: ' %>
          <%= f.input :weight %>
          <div class="form-actions">
            <%= f.button :submit, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>