<!DOCTYPE html>
<html>
<head>
  <title>Liquidaciones</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">

        <%= yield %>

      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %></p>
          <% end %>
       </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>